.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Room {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;

  font-size: 20px;

  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}
.Room input,
.Room button {
  font-size: inherit;
  padding: 0.5em;
}
.Room button {
  padding: 0.5em 1em;
}
.Room header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Room header section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Room main {
  position: relative;

  flex: 1;
  /* border: 1px solid grey; */
  /* padding: 1rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.Room main .Vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  border: 0.5rem solid grey;
  padding: 1rem;
  box-sizing: border-box;
}
.Room main aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-size: 1.5em;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Room main aside > div {
  padding: 1em 1.5em;
  text-align: center;
  color: black;
  background-color: white;
  border: 1px solid black;
}
