.Welcome {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}
.Welcome form,
.Welcome form input,
.Welcome form button {
  font-size: 1.5rem;
}
.Welcome form button {
  padding: 1rem 2rem;
}
.Welcome form > * {
  margin: 1rem 0;
}
